
<app-menu-title></app-menu-title>
<div class="articles">
    <div class="articles__main">
        <app-big-card photoCover="https://images3.alphacoders.com/132/1322308.jpeg"
        cardTitle="Animes da Temporada"
            cardDescription= "Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, hic doloremque! Quaerat eaque fugit repellat"></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card Id="0" photoCover="https://sm.ign.com/ign_br/screenshot/default/jujutsu-kaisen-season-2-key-visual_5uv6.jpg" 
        cardTitle="Jujustu Kaisen"> </app-small-card>

        <app-small-card Id="1" photoCover="https://media.gq.com.mx/photos/63af4e52bbea90257569711d/16:9/w_2560%2Cc_limit/1198624.jpg" 
        cardTitle="Kimetsu no Yaiba"> </app-small-card>

        <app-small-card Id="2" photoCover="https://cdn.ome.lt/nM9MQpaRcWre26SkSbCcpXuqtG4=/1200x630/smart/extras/conteudos/temporada-primavera-2023-capa.jpg" 
        cardTitle="Hell's Paradise"> </app-small-card>
    </div>
</div>